@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 100, 60, 50;
  --background-rgb: 242, 234, 220;
  --background2-rgb: 222, 208, 188;

  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --background2-rgb: 255, 255, 255;

  --border-width: 4px;
  --border-secondary-width: 2px;
  --border-radius: 20px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 242, 234, 220;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  background-size: 30px 30px;
  background-image:
    linear-gradient(to right, black 1px, transparent 1px),
    linear-gradient(to bottom, black 1px, transparent 1px);
  height: 100vh;
  padding: 2em;
}

.body {
  display: flex; 
  height: calc(100vh - 4.5rem - 4rem);
}

.selector {
  padding: 1rem; 
  background-color: rgb(var(--background-rgb));
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0.5em 0 0.7em 0; 
  border: rgb(var(--foreground-rgb)) solid var(--border-secondary-width);
  border-radius: 15px;
  width: 100%; 
  overflow-x: scroll;
}

.optionImage {
  margin: 0.75rem;
  background-color: white;
  border: rgb(var(--foreground-rgb)) solid var(--border-secondary-width);
  border-radius: var(--border-radius);
  width: 4em;
  flex-shrink: 0;
  height: 4em;
}

.optionImage img {
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.bear_image {
  position: absolute;
}

/* NAVBAR */

nav {
  display: flex;
  /* margin: 0rem 2rem 0rem 2rem; */
  border-radius: var(--border-radius);
  border: rgb(var(--foreground-rgb)) solid var(--border-width);
  background-color: rgb(var(--background2-rgb));
}

.navRight{
  width: 40%;
  height: 4.5rem;
  padding-left: 2rem;
  /* background-color: #9EB9FF; */
  /* border: rgb(var(--foreground-rgb)) solid var(--border-width);; */
  display: flex;
  align-items: center;
}

.navLeft{
  width: 60%;
  height: 4.5rem;
  padding-right: 2rem;
  /* background-color: #82A5FF;
  border: rgb(var(--foreground-rgb)) solid var(--border-width);; */
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Text */
h1
{
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1em 0 0.5em 0;
}

h2
{
  font-weight: bold; 
  font-size: 1.2rem;
  padding-bottom: 0;
  text-decoration: none;
}

.link {
  font-weight: bold; 
  font-size: 1rem;
  padding:0.5rem 1rem 0.5rem 1rem; 
  background-color: rgb(var(--background-rgb));
  border-radius: var(--border-radius);
  margin-top: 2rem;
}

/* Page */
.pageRight{
  width: 60%; 
  background-color: rgb(var(--background2-rgb));
  border: rgb(var(--foreground-rgb)) solid var(--border-width);;
  padding: 0rem 2rem 2rem 2rem;
  margin-top: 2rem;
  border-radius: var(--border-radius);
}

.pageLeft{
  width: 40%;
  background-color: rgb(var(--background2-rgb));
  border: rgb(var(--foreground-rgb)) solid var(--border-width);
  padding-left: 3rem; 
  padding-right: 3rem;
  padding-bottom: 3rem;
  overflow-y: scroll;
  margin-top: 2rem;
  margin-right: 2rem;
  border-radius: var(--border-radius);
}

/* Buttons */
.selectButton{
  padding:0.5rem 1rem 0.5rem 1rem; 
  border: rgb(var(--foreground-rgb)) solid var(--border-secondary-width);
  background-color: rgb(var(--background-rgb));
  border-radius: 10px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* Display */

.display {
  height: calc(100vh - 15rem - 6rem);
  aspect-ratio: 1/1;
  position: relative;
  /* border-radius: var(--border-radius); */
  /* border: rgb(var(--foreground-rgb)) solid var(--border-secondary-width); */
  margin: auto;
}

@media only screen and (max-width: 700px) {

  .body{
    display: block; 
  }

  .navRight{
    width: 70%;
  }
  
  .navLeft{
    width: 30%;
    /* background-color: #82A5FF; */
    padding: 1.5em 2em 1.5em 0; 
    /* border: rgb(var(--foreground-rgb)) solid var(--border-width);; */
    text-align: right;
  }

  /* Fonts */

  /* Text */
  h1
  {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1em 0 0.5em 0;
  }

  h2
  {
    font-weight: bold; 
    font-size: 0.8rem;
    padding-bottom: 0;
    text-decoration: none;
  }

  p
  {
    font-size: 0.8rem; 
  }

    /* Page */
  .pageRight{
    width: 100%; 
    background-color: rgb(var(--background2-rgb));
    border: rgb(var(--foreground-rgb)) solid var(--border-width);;
    padding: 0rem 2rem 2rem 2rem; 
  }

  .pageLeft{
    width: 100%;
    background-color: rgb(var(--background2-rgb));
    border: rgb(var(--foreground-rgb)) solid var(--border-width);
    padding-left: 3rem; 
    padding-right: 3rem;
    overflow-y: scroll;
  }

  .display {
    height: 300px; /* TODO: also not desirable */
    background-color: white;
    position: relative;
    /* border: rgb(var(--foreground-rgb)) solid var(--border-width);; */
  }

  .bear_image{
    position: relative; 
  }

  /* Selector */
  .selectionMobile{
    border-top: 1px black solid; 
    padding: 1rem 0 1rem 0; 
    display: flex; 
    align-items: center;
  }

  .selectionCategory{
    margin-right: 1rem; 
  }

  .underline{
    padding: 1rem 0 1rem 0; 
    border-top: 1px black solid; 
    display: flex; 
    align-items: center;
  }

  .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .selectionText {
    margin-right: 1rem; 
  }
}

.aboutContainer {
  padding: 1rem 2rem 3rem 2rem;
  white-space: pre-wrap;
  background-color: rgb(var(--background2-rgb));
  border-radius: var(--border-radius);
  border: rgb(var(--foreground-rgb)) solid var(--border-width);
  margin-top: 2rem;
}

.aboutText {
  display: flex; 
  padding-bottom: .5rem;
}

.aboutHeader {
  padding: 1.5rem 0rem 0rem 0rem;
}