@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: 100vh;
}

.body {
  display: flex; 
  height: calc(100vh - 4.5rem);
}

.selector {
  padding: 1rem; 
  background-color: #C2E2FF;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0.5em 0 0.7em 0; 
  border-radius: 5px;
  width: 100%; 
  overflow-x: scroll;
}

.optionImage {
  margin: 0.75rem;
  background-color: white;
  border-radius: 10px;
  width: 4em;
  flex-shrink: 0;
  height: 4em;
}

.optionImage img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.bear_image {
  position: absolute;
}

/* NAVBAR */

nav {
  display: flex;
}

.navRight{
  width: 40%;
  height: 4.5rem;
  padding-left: 2rem;
  background-color: #9EB9FF;
  border: black solid 1px;
  display: flex;
  align-items: center;
}

.navLeft{
  width: 60%;
  height: 4.5rem;
  padding-right: 2rem;
  background-color: #82A5FF;
  border: black solid 1px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Text */
h1
{
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1em 0 0.5em 0;
}

h2
{
  font-weight: bold; 
  font-size: 1.2rem;
  padding-bottom: 0;
}

/* Page */
.pageRight{
  width: 60%; 
  background-color: #EEFCFF;
  border: black solid 1px;
  padding: 0rem 2rem 2rem 2rem;
}

.pageLeft{
  width: 40%;
  background-color: #EEF4FF;
  border: black solid 1px;
  padding-left: 3rem; 
  padding-right: 3rem;
  padding-bottom: 3rem;
  overflow-y: scroll;
}

/* Buttons */
.selectButton{
  padding:0.5rem 1rem 0.5rem 1rem; 
  background-color: #C2D3FF;
  border-radius: 10px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* Display */

.display {
  height: calc(100vh - 15rem);
  aspect-ratio: 1/1;
  position: relative;
  margin: auto;
  border: 1px solid black;
}