@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: 100vh;
}

.body {
  display: flex; 
  height: calc(100vh - 4.5rem); /* TODO: kinda hardcoded */
}

.selector {
  padding: 1rem; 
  background-color: #C2E2FF;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0.5em 0 0.7em 0; 
  border-radius: 5px;
  width: 100%; 
  overflow-x: scroll;
}

.optionImage {
  margin: 0.75rem;
  background-color: white;
  border-radius: 10px;
  width: 4em;
  flex-shrink: 0;
  height: 4em;
}

.optionImage img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.bear_image {
  position: absolute;
}

/* NAVBAR */

nav {
  display: flex;
}

.navRight{
  width: 40%;
  background-color: #9EB9FF;
  padding: 1.5em 0 1.5em 2em; 
  border: black solid 1px;
}

.navLeft{
  width: 60%;
  background-color: #82A5FF;
  padding: 1.5em 2em 1.5em 0; 
  border: black solid 1px;
  text-align: right;
}

/* Text */
h1
{
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1em 0 0.5em 0;
}

h2
{
  font-weight: bold; 
  font-size: 1.2rem;
  padding-bottom: 0;
  text-decoration: none;
}

.link {
  font-weight: bold; 
  font-size: 1rem;
  padding:0.5rem 1rem 0.5rem 1rem; 
  background-color: #C2D3FF;
  border-radius: 10px;
  margin-top: 2rem;
}

/* Page */
.pageRight{
  width: 60%; 
  background-color: #EEFCFF;
  border: black solid 1px;
  padding: 0rem 2rem 2rem 2rem; 
}

.pageLeft{
  width: 40%;
  background-color: #EEF4FF;
  border: black solid 1px;
  padding-left: 3rem; 
  padding-right: 3rem;
  overflow-y: scroll;
}

/* Buttons */
.selectButton{
  padding:0.5rem 1rem 0.5rem 1rem; 
  background-color: #C2D3FF;
  border-radius: 10px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* Display */

.display {
  height: 70%; /* TODO: also not desirable */
  background-color: white;
  position: relative;
  border: black solid 1px;
}

@media only screen and (max-width: 700px) {

  .body{
    display: block; 
  }

  .navRight{
    width: 70%;
  }
  
  .navLeft{
    width: 30%;
    background-color: #82A5FF;
    padding: 1.5em 2em 1.5em 0; 
    border: black solid 1px;
    text-align: right;
  }

  /* Fonts */

  /* Text */
  h1
  {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1em 0 0.5em 0;
  }

  h2
  {
    font-weight: bold; 
    font-size: 0.8rem;
    padding-bottom: 0;
    text-decoration: none;
  }

  p
  {
    font-size: 0.8rem; 
  }

    /* Page */
  .pageRight{
    width: 100%; 
    background-color: #EEFCFF;
    border: black solid 1px;
    padding: 0rem 2rem 2rem 2rem; 
  }

  .pageLeft{
    width: 100%;
    background-color: #EEF4FF;
    border: black solid 1px;
    padding-left: 3rem; 
    padding-right: 3rem;
    overflow-y: scroll;
  }

  .display {
    height: 300px; /* TODO: also not desirable */
    background-color: white;
    position: relative;
    border: black solid 1px;
  }

  .bear_image{
    position: relative; 
  }

  /* Selector */
  .selectionMobile{
    border-top: 1px black solid; 
    padding: 1rem 0 1rem 0; 
    display: flex; 
    align-items: center;
  }

  .selectionCategory{
    margin-right: 1rem; 
  }

  .underline{
    padding: 1rem 0 1rem 0; 
    border-top: 1px black solid; 
    display: flex; 
    align-items: center;
  }

  .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .selectionText {
    margin-right: 1rem; 
  }
}

.aboutContainer {
  padding: 1rem 2rem 1rem 2rem;
  white-space: pre-wrap;
}

.aboutText {
  display: flex; 
  padding-bottom: .5rem;
}

.aboutHeader {
  padding: 1.5rem 0rem 0rem 0rem;
}